<%= form_with(model: @sound) do |f| %>
  <% if sound.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sound.errors.count, "error") %> prohibited this sound from being saved:</h2>

      <ul>
        <% sound.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :image %>
    <div>
      <%= f.file_field :image %>
    </div>
  </div>
    
  <div>
    <%= f.label :sound_file %>
    <div>
      <%= f.file_field :sound_file %>
    </div>
  </div>
    
  <div>
    <%= f.label :sound_type %>
    <div>
      <%= f.select :sound_type, Sound.sound_types.map{ |k, _v| [k.titleize, k] } %>
    </div>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
