<p id="notice"><%= notice %></p>

<h1>Sounds</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sounds.each do |sound| %>
      <tr>
        <td><%= audio_tag(url_for(sound.attachment)) %></td>
        <td><%= image_tag(sound.image, style: "width: 150px; height: 150px;") %></td>
        <td><%= link_to 'Destroy', sound, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sound', new_sound_path %>
