<h1>Sounds</h1>

<% @sounds.group_by(&:sound_type).each do |sound_type, sounds| %>
  <h2><%= sound_type.titleize %></h2>

  <div style="display: flex;">
    <% sounds.each do |sound| %>
      <div>
        <%= image_tag(sound.image, style: "width: 150px; height: 150px; display: block; margin-right: 15px;", "data-sound-id": "sound_#{sound.id}") %>
        <%= audio_tag(url_for(sound.sound_file), controls: true, preload: false, id: "sound_#{sound.id}", style: "display: none;") %>
        <%= link_to 'Destroy', sound, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
  </div>
<% end %>
<div style="margin-top: 15px;">
  <%= link_to 'New Sound', new_sound_path %>
</div>


